 .input::-webkit-outer-spin-button,
 .input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 .input[type=number] {
     -moz-appearance: textfield;
 }


 /* Start password  */
 .midl-form {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 75vh;
 }

 .register {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 25px;
     width: 100%;
     max-width: 600px;
     box-shadow: 10 10 10 rgba(0, 0, 0, 0.621);
 }

 .form {
     display: flex;
     flex-direction: column;
     background-image: url("/images/dots.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     border: 2px solid var(--border-color);
     gap: 22px;
     width: 100%;
     padding: 20px;
     border-radius: 20px;
     color: var(--title-color);
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }


 .email-send {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
 }

 .email-submit {
     width: 20%;
     align-self: flex-end;
 }

 .code-submit {
     width: 20%;
     align-self: flex-end;
 }

 .pass-box {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
 }

 .toggle-password {
     position: absolute;
     right: 90%;
     top: 55%;
     bottom: 50%;
     transform: translate(-50%, -50%);
 }

 .flex {
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
 }

 .title {
     font-size: 1.8rem;
     font-weight: 600;
     letter-spacing: -1px;
     color: var(--title-color);
     margin-bottom: 10px;
 }



 .form label {
     position: relative;
     flex: 1 1 calc(50% - 10px);
 }

 .form label .input {
     background-color: var(--secondary);
     color: var(--title-color);
     width: 100%;
     padding: 16px 10px 5px;
     border: 2px solid var(--border-color);
     border-radius: 10px;
     font-size: 1rem;
     margin-top: 10px;
 }

 .form label .input:placeholder-shown+span {
     top: 14px;
     font-size: 1rem;
 }

 .form label .input:focus+span,
 .form label .input:valid+span {
     color: var(--button-bg);
     top: -5px;
     font-size: 0.8rem;
     font-weight: 600;
 }

 .submit {
     border: none;
     padding: 12px;
     border-radius: 10px;
     font-size: 1rem;
     font-weight: bold;
     color: var(--button-text);
     background: linear-gradient(-45deg, #2d1a0c 50%, rgba(56, 25, 14, .91) 90%, #2e140a);
     cursor: pointer;
     transition: background-color 0.3s ease;
     text-align: center;
 }

 .submit:hover {
     background-color: var(--button-hover);
 }

 @media (max-width: 768px) {
     .midl-form {
         height: 70vh;
     }


     .title {
         font-size: 1.2rem;
     }

     .form {
         gap: 10px;
     }

     .submit {
         margin-top: 10px;
         padding: 14px;
         font-size: 0.8rem;
     }

     .email-send {
         flex-direction: column;
         gap: 10px;
     }

     .email-submit {
         width: 90%;
     }

     .code-submit {
         width: 15%;
     }

     .toggle-password {
         right: 85%;
     }
 }


 /* End pasword   */